{% extends 'users/base/base.html' %}
{% load static %}
{% load  bootstrap4 %}
{% load widget_tweaks %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="card-title">Change Password</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="card text-white bg-danger text-center">
          <div class="card-body">
            <blockquote class="card-bodyquote">
              <h6>Oops! Looks like there was a problem... {{message}}</h6>
            </blockquote>
            </div>
          </div>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="card text-white bg-success text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                <h6>{{message}}</h6>
              </blockquote>
              </div>
            </div>


          {% endif %}
        {% endfor %}
    {% endif%}

      </div>
    </div>


        <form method="post">
          {% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

                {% for field in form.visible_fields %}


                <div class="form-group">
                  {{ field.label_tag }}

                  {% if form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                        {% else %}
                          {% render_field field class="form-control is-valid" %}

                        {% endif %}
                      {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}

                  {% if field.help_text %}
                    <small class="form-text text-muted">{%render_field field.help_text %}</small>
                  {% endif %}
                </div>

              {% endfor %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
              {% endbuttons %}


        </form>


  </div>
</div>

{% endblock %}
