{% extends 'users/base/base.html' %}
{% load static %}
{% load  bootstrap4 %}
{% load widget_tweaks %}


{% block content %}
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-sm-5">
  <h4 class="card-title mb-0">Profile Information</h4>
  <div class="small text-muted">November 2017</div>



  </div>

</div>
<div class="row">
  <div class="col-sm-3">


      <img src="{{picture}}"  alt="..." class="img-thumbnail img-responsive">


      <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
          Update Picture
      </button>

<form action="../../users/pictures/submit" enctype="multipart/form-data" method="post">
    {% csrf_token %}

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Profile Picture</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--div class="col-sm-12"-->
                <style>
                #customFile .custom-file-control:lang(en)::after {
                content: " Select file...";
                }

                </style>


                <img id="blah" src="#" alt="your image" class="img-thumbnail img-responsive"/>
              <label class="custom-file form-control" id="customFile">

                {% render_field pictureform.picture type="file" onchange="readURL(this);" class="custom-file-input form-control" id="exampleInputFile" aria-describedby="fileHelp" %}
                 <span class="custom-file-control form-control-file"></span>
              </label>


            <!--/div-->


</div>




            <script
              src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous"></script>
            <script>
            /* show file value after file select */
            $('.custom-file-input').on('change',function(){
              $(this).next('.form-control-file').addClass("selected").html($(this).val());
            })

            function readURL(input) {
              if (input.files && input.files[0]) {
                  var reader = new FileReader();

                  reader.onload = function (e) {
                      $('#blah')
                          .attr('src', e.target.result)
                          .width(150)
                          .height(200);

                      $('#submitButton').removeAttr('disabled');

                  };

                  reader.readAsDataURL(input.files[0]);
              }
            }

            </script>

            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" id=submitButton class="btn btn-primary" disabled>Upload Photo</button>
            </div>
          </div>
        </div>
      </div>

    </form>

</div>
  <div class="col-sm-9">
    <div class="card">
      <h5 class="card-header">
        {{user.first_name}} {{user.last_name}}
      </h5>
      <div class="card-body">
        <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Address Information</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane container active" id="home">
          <div class="form-group">
            <label for="exampleFormControlInput1">Username</label>
            <input type="text" value="{{user.username}}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" disabled>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="text" value="{{user.email}}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" disabled>
          </div>

        </div>
        <div class="tab-pane container fade" id="menu1">
          <div class="col-lg-12">
            <div row="row">
                <legend>General</legend>
                <label>Access Password Reset:</label>
                <a href="/users/password/change-password/" class="btn btn-info">Password Reset</a>
            </div>
            <div class="row">
              <legend>Sync Social Media Accounts</legend>
                <small class="form-text text-muted">
                  Syncing accounts will just get general information such as profile pictures.
                    <ul>
                      <li> No information in regards to personal information will be stored</li>
                    <ul>


                </small>
                <button type="button" class="btn btn-brand btn-facebook">
                  <i class="fa fa-facebook"></i><span>Facebook</span>
                </button>
              </div>
            </div>
            <div class="row">




          </div>
        </div>
        <div class="tab-pane container fade" id="menu2">
          <div class="row">
            <div class="col-sm-2">
                <h6>Address:</h6>
            </div>
            <div class="col-sm-4">
            {% if address %}

              {{address.address_1}}
              <br/>
              {{address.city}}, {{address.state}} {{address.zip}}




            {% endif %}
          </div>
          <div class="col-sm-6">
            <a href="../profile/address-info/change" class="btn btn-outline-primary btn-lg btn-block" role="button" aria-pressed="true">Update Address</a>


          </div>



        </div>
      </div>



        </div>

      </div>
      </div>
    </div>

  </div>





{% endblock %}
